.navbar{background-color: #555;}
/*.brand>span{color: #fa0000;} */
.slider{background-color: #eee;}
.features{background-color: #ccc;}
/* .client-name{color: #fa0000;} */
.price{background-color: #ccc;}
.price-plane{background-color: #fff; border-radius: 10px;}

.team{background-color: #555;}
.statistics{background-color: #555;}
.optinion{background-color: #555;}
.footer{background-color: #555;}
/* .price-plane-title{color: royalblue;} */